
  <div class="row">
    <div class="col-xs-8" style="border: 1px solid cornflowerblue; height:240px; margin-bottom:15px;">
      <div class="form-group" style="margin-top:15px;">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" ng-model="login.user">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" ng-model="login.password">
      </div>
      <button type="button" class="btn btn-info"  ng-click="showDetail()">Log In</button>

    </div>
  </div>

